[submodule "nvim/bundle/neobundle.vim"]
	path = nvim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
